@import 'tailwindcss';
@import './styles/fonts.css';
@import './styles/colors.css';
@import './styles/type.css';
@import './styles/spacing.css';
@import './styles/grid.css';

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

p {
  margin: 0;
}
